@model MVC.Models.UserSkill
@{
    ViewData["Title"] = "Видалення навички";
    var userId = (int)ViewBag.UserId;
}
<h1>Видалення навички для користувача з ID = @userId</h1>
<p>Ви впевнені, що хочете видалити навичку "<strong>@Model.Skill.Title</strong>"?</p>

<form asp-action="DeleteConfirmed" method="post">
    <input type="hidden" name="skillId" value="@Model.SkillId" />
    <input type="hidden" name="userId" value="@userId" />
    <button type="submit" class="btn btn-danger">Видалити</button>
    <a asp-action="Index" asp-route-userId="@userId" class="btn btn-secondary">Відміна</a>
</form>
