@model MVC.Areas.Auth.Models.Forms.ChangePasswordForm
@{
    ViewData["Title"] = "Change Password";
}
<div>
    <h1 class="display-4">@ViewData["Title"]</h1>
    <form method="post" asp-area="Auth" asp-controller="Profile" asp-action="ChangePassword">
        <div class="card">
            <div class="card-header">Change Your Password</div>
            <div class="card-body">
                <div class="mb-3">
                    @Html.LabelFor(m => m.OldPassword, new { @class = "form-label" })
                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.OldPassword, null, new { @class = "text-danger" })
                </div>
                <div class="mb-3">
                    @Html.LabelFor(m => m.NewPassword, new { @class = "form-label" })
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.NewPassword, null, new { @class = "text-danger" })
                </div>
                <div class="mb-3">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "form-label" })
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword, null, new { @class = "text-danger" })
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary">Change Password</button>
                <a asp-area="Auth" asp-controller="Profile" asp-action="Index" class="btn btn-outline-success">Return</a>
            </div>
        </div>
    </form>
</div>
