@model MVC.Models.User
@{
    ViewData["Title"] = "Profile";
}
<div>
    <h1 class="display-4">@ViewData["Title"]</h1>

    <div class="row">
        <!-- Інформація про користувача -->
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-header">User Information</div>
                <div class="card-body">
                    @if (!string.IsNullOrEmpty(Model.ImagePath))
                    {
                        <div class="avatar" style="background-image: url('@Model.ImagePath'); width: 100px; height: 100px; background-size: cover; border-radius: 50%;"></div>
                    }
                    <div class="mt-3">
                        <h5>@Model.FullName</h5>
                    </div>
                    <div>
                        <small class="text-muted">Email:</small> @Model.Email
                    </div>
                    <div>
                        <small class="text-muted">Phone:</small> @Model.PhoneNumber
                    </div>
                </div>
                <div class="card-footer">
                    <a asp-area="Auth" asp-controller="Profile" asp-action="Edit" class="btn btn-outline-success">Edit Profile</a>
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-outline-primary">Return</a>
                </div>
            </div>
        </div>
        <!-- Додаткові налаштування -->
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-header">Account Settings</div>
                <div class="card-body">
                    <a asp-area="Auth" asp-controller="Profile" asp-action="ChangePassword" class="btn btn-warning mb-2">Change Password</a>
                    <form asp-area="Auth" asp-controller="Profile" asp-action="DeleteAccount" method="get">
                        <button type="submit" class="btn btn-danger">Delete Account</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
