@{
    ViewData["Title"] = "Skills";
    List<Skill> skills = ViewData["List"] as List<Skill>;
}

<h1 class="text-center">@ViewData["Title"]</h1>

<div class="container mt-4">
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Technology</th>
                <th>Level</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var skill in skills)
            {
                <tr>
                    <td>@skill.Title</td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar @(skill.Level >= 80 ? "bg-success" :
                               skill.Level >= 60 ? "bg-primary" :
                               skill.Level >= 40 ? "bg-warning" :
                               "bg-danger")"
                                 role="progressbar"
                                 style="width: @(skill.Level)%;"
                                 aria-valuenow="@skill.Level"
                                 aria-valuemin="0"
                                 aria-valuemax="100">
                                @skill.Level%
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>